header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

body{
    background-color: #ccc;
}

main{
    display: flex;
}
#cartas{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
#descricao{
    width: 30%;
    height: 100%;
    background-color: #424242;
    color: white;
    border: 1px solid #000000;
    text-align: center;
}
.carta{
    position: relative;
    width: 100px;
    height: 140px;
    border: 5px solid black;
    background-color: #ccc;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}

.topo, .baixo{
    font-size: 20px;
}

.meio{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.meio{
    font-size: 80px;
    align-self: center;
}
.topo{
    align-self: flex-start;
}



.baixo{
    align-self: flex-end;
    transform: rotate(180deg)
}

.vermelhas{
    color: red;
}

.pretas{
    color: black;
}


.ativa{
    transition: all 0.5s ease;
    transform: scale(1.1);
    border: 8px dashed #D300F5;
    background-color: #ffffff;
    color: #3200F5;
    box-shadow: 5px 5px 15px #8300F5 ;
}
